/* Bootstrap styles */
body{
  background: linear-gradient(to right, #f4f6f7, #03fd6b);
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

/* Custom styles */
.container {
  
  max-width: 600px; /* Adjust as needed */
  margin: auto;
  padding: 20px;
}

#activityContainer {
  margin-top: 20px;
}
